.card{
    text-align: center;
    border: solid 2px rgb(72, 174, 114);
    background-color:rgb(132, 174, 72);
    border-radius: 10%;
    margin: auto;
    margin-top: 3px;
    margin-right: 5px;
    height: 17rem;
    width: 13rem;
    float: left;
}
.SignUp{
    height: 15rem;
    width: 15rem;
    margin: auto;
    text-align: center;
    border:solid 1px rgb(219, 219, 219);
}
.mytext{
    font-family: Garamond,Serif;
    font-size: 120%;
}
a{
    color: rgb(1,1,1);
    font-family: cursive;
}
a:hover{
    color: rgb(53, 52, 52);
    font-style: italic;
}
.picture{
    height: 128px;
    width: 128px;
}