.SignUp{
    height: 17rem;
    width: 15rem;
    margin: auto;
    text-align: center;
    border:solid 1px rgb(219, 219, 219);
}
.mytext{
    font-family: Garamond,Serif;
    font-size: 120%;
}
a{
    color: rgb(53, 52, 52);
    font-family: cursive;
    font-size: large;
}
a:hover{
    color: rgb(1,1,1);
    font-style: italic;
}
.picture{
    margin: auto;
    height: 128px;
    width: 128px;
}